.main {
    display: flex;
}

.aside {
    flex-grow: 0.3;
}
.aside1 {
    flex-grow: 0.4;
}

.content {
    flex-grow: 0.7;
}
#listContainer{
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    border: black 1px solid;
}
